.redes-mail {
  color: red; }

.redes-whatsapp {
  color: #339913; }

.redes-instagram {
  color: #bd2cbd; }

.redes-facebook {
  color: blue; }

@media screen and (max-width: 480px) {
  #gridAreas {
    background-color: #e8ecee;
    height: 300px;
    display: grid;
    grid-template-areas: "header" "nav" "main" "novedades" "footer";
    grid-template-rows: 1fr 5fr 5fr 1fr;
    grid-template-columns: 300px; }
    #gridAreas header {
      grid-area: header;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: #090946; }
      #gridAreas header section {
        color: white;
        font-size: 0px;
        font-family: 'Merriweather Sans', sans-serif; }
    #gridAreas footer {
      grid-area: footer;
      display: flex;
      flex-direction: column;
      background-color: #090946;
      margin-top: 1%; }
      #gridAreas footer section {
        color: white;
        font-size: 15px;
        font-family: 'Merriweather Sans', sans-serif; }
      #gridAreas footer iframe {
        width: 100%; }
    #gridAreas main {
      grid-area: main;
      display: flex; }
      #gridAreas main section {
        background-color: rgba(115, 111, 145, 0.911);
        margin: 5%;
        font-size: 20px; }
      #gridAreas main img {
        display: none; }
    #gridAreas nav {
      grid-area: nav;
      text-align: center;
      font-family: 'Merriweather Sans', sans-serif;
      background-color: #090946;
      border-top: 1px solid white; }
    #gridAreas aside {
      grid-area: novedades;
      text-align: center;
      align-self: center;
      background-color: rgba(115, 111, 145, 0.911); }
  /*Index*/
  #index_main {
    align-items: center;
    margin: 5%; }
    #index_main section {
      height: 100%; }
  .carousel {
    display: none; }
  #dlEstudio {
    color: white;
    font-size: 40px;
    font-family: 'Anton', sans-serif; }
  /*Servicios*/
  #servicios {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1%; }
    #servicios article {
      margin: 1%; }
  #s_imp {
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%); }
  #s_contab {
    background-color: #fba8a4;
    background-image: linear-gradient(315deg, #fba8a4 0%, #dad2f3 74%); }
  #s_hab {
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%); }
  #s_audi {
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%); }
  /*Staff*/
  #staff {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1%; }
    #staff div {
      margin: 1%;
      background-color: #b1bfd8;
      background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%); } }

@media screen and (min-width: 481px) and (max-width: 1023px) {
  #gridAreas {
    background-color: #e8ecee;
    height: 600px;
    display: grid;
    grid-template-areas: "header header header" "nav nav nav" "main main main" "novedades novedades novedades" "footer footer footer";
    grid-template-rows: 1fr 5fr 5fr 1fr;
    grid-template-columns: 15% auto 10%; }
    #gridAreas header {
      grid-area: header;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: #090946; }
      #gridAreas header section {
        color: white;
        font-size: 20px;
        font-family: 'Merriweather Sans', sans-serif; }
    #gridAreas footer {
      grid-area: footer;
      display: flex;
      flex-direction: row;
      background-color: #090946;
      margin-top: 1%; }
      #gridAreas footer section {
        color: white;
        font-size: 20px;
        font-family: 'Merriweather Sans', sans-serif; }
    #gridAreas main {
      grid-area: main;
      display: flex; }
      #gridAreas main section {
        margin: 5%;
        font-size: 20px;
        background-color: rgba(115, 111, 145, 0.911);
        color: white; }
      #gridAreas main img {
        display: none; }
    #gridAreas nav {
      grid-area: nav;
      text-align: center;
      font-family: 'Merriweather Sans', sans-serif;
      background-color: #090946;
      border-top: 1px solid white; }
    #gridAreas aside {
      grid-area: novedades;
      text-align: center;
      align-self: center;
      background-color: rgba(115, 111, 145, 0.911); }
  /*Index*/
  #index_main {
    align-items: center;
    margin: 5%; }
    #index_main section {
      height: 100%; }
  .carousel-inner {
    display: none; }
  #dlEstudio {
    color: white;
    font-size: 40px;
    font-family: 'Anton', sans-serif; }
  /*Servicios*/
  #servicios {
    display: grid;
    grid-template-areas: "s_imp s_contab s_hab s_audi";
    text-align: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background: none;
    margin: 5%; }
  #s_imp {
    grid-area: s_imp;
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%); }
  #s_contab {
    grid-area: s_contab;
    background-color: #fba8a4;
    background-image: linear-gradient(315deg, #fba8a4 0%, #dad2f3 74%); }
  #s_hab {
    grid-area: s_hab;
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%); }
  #s_audi {
    grid-area: s_audi;
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%); }
  /*Staff*/
  #staff {
    display: grid;
    grid-template-areas: "colab1 colab2 colab3 colab4";
    text-align: center;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    background: none;
    margin: 5%; }
    #staff div {
      background-color: #b1bfd8;
      background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%); }
  #colab1 {
    grid-area: colab1; }
  #colab2 {
    grid-area: colab2; }
  #colab3 {
    grid-area: colab3; }
  #colab4 {
    grid-area: colab4; } }

@media screen and (min-width: 1024px) {
  #gridAreas {
    background-image: url("https://s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2018/08/14152824/Buenos-Aires-1.jpg");
    height: 1000px;
    display: grid;
    grid-template-areas: "header header header" "nav nav nav" "main main novedades" "footer footer footer";
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 1fr 1fr 5fr 1fr; }
    #gridAreas header {
      grid-area: header;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #090946;
      animation: animate__bounce 2s; }
      #gridAreas header section {
        color: white;
        font-size: 20px;
        font-family: 'Merriweather Sans', sans-serif; }
    #gridAreas footer {
      grid-area: footer;
      display: flex;
      flex-direction: row;
      background-color: #090946;
      margin-top: 1%; }
      #gridAreas footer section {
        color: white;
        font-size: 20px;
        font-family: 'Merriweather Sans', sans-serif; }
    #gridAreas main {
      grid-area: main;
      display: flex; }
      #gridAreas main section {
        background-color: rgba(115, 111, 145, 0.911);
        color: white;
        margin: 5%;
        font-size: 20px; }
      #gridAreas main img {
        width: 50%;
        margin: 1%; }
    #gridAreas nav {
      grid-area: nav;
      text-align: center;
      height: 60px;
      background-color: rgba(115, 111, 145, 0.911);
      color: white;
      border-top: 1px solid white; }
    #gridAreas aside {
      grid-area: novedades;
      text-align: center;
      align-self: center;
      background-color: rgba(115, 111, 145, 0.911);
      color: white; }
  ul {
    font-size: 20px; }
    ul ul li {
      margin: 10px;
      background-color: rgba(115, 111, 145, 0.911);
      color: white;
      border: 1px solid white;
      list-style-type: none;
      animation-duration: 2s;
      animation-name: aparecer; }
  @keyframes aparecer {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  #dlEstudio {
    color: white;
    font-size: 40px;
    font-family: 'Anton', sans-serif; }
  /*Index*/
  #index_main {
    align-items: center;
    display: flex;
    flex-direction: column; }
    #index_main img {
      height: 60%;
      width: 60%; }
  .carousel-inner {
    width: 800px;
    height: 500px; }
    .carousel-inner h5 {
      background-color: #090946;
      font-size: 50px; }
    .carousel-inner p {
      background-color: gray; }
  /*Servicios*/
  #servicios {
    display: grid;
    grid-template-areas: "s_imp s_contab s_hab s_audi";
    text-align: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background: none;
    margin: 5%; }
  #s_imp {
    grid-area: s_imp;
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%); }
  #s_contab {
    grid-area: s_contab;
    background-color: #fba8a4;
    background-image: linear-gradient(315deg, #fba8a4 0%, #dad2f3 74%); }
  #s_hab {
    grid-area: s_hab;
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%); }
  #s_audi {
    grid-area: s_audi;
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%); }
  /*Staff*/
  #staff {
    display: grid;
    grid-template-areas: "colab1 colab2 colab3 colab4";
    text-align: center;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    background: none;
    margin: 5%; }
    #staff div {
      background-color: #b1bfd8;
      background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%); }
  #colab1 {
    grid-area: colab1; }
  #colab2 {
    grid-area: colab2; }
  #colab3 {
    grid-area: colab3; }
  #colab4 {
    grid-area: colab4; }
  .animate__animated.animate__bounce {
    --animate-duration: 3s; } }
