$color_principal: rgb(9, 9, 70);
$color_fondo_texto: rgba(115, 111, 145, 0.911);
$color_fuente: white;


$redes: (
 mail: red,
 whatsapp:  #339913,
 instagram: rgb(189, 44, 189),
 facebook: blue
);
@each $redes, $color in $redes {
    .redes-#{$redes} {
        color: $color;
    }
 }
 
 @mixin texto($color,$size){
	color:$color;
	font-size:$size;

}
@mixin fondotexto(){
    background-color: $color_fondo_texto;
    color:$color_fuente;
}
